# OOPs and DBconcepts  
                                                                     by: Nimase Shubham        batch: ML-16

### ***Performing operations on MYSQL datasets using python. Using OOPs concepts to create class and assigning specific oprations to different user class.

In [222]:
import mysql.connector
import sys

In [2]:
def dev_con():
    global conn
    global c
    conn=mysql.connector.connect(host="localhost",database="students",user="root",passwd="Admin@123")
    c=conn.cursor()

In [3]:
def dissove_con():
    conn.commit()
    c.close()
    conn.close()

# Creating a table
# before creating table we need to create schema on MYSQL using ##"CREATE SCHEMA students;"## command or manually in sql
# Without creating schema you can not connect to MYSQL database.
# Using following code we can create table named "stdid"

stm="""CREATE TABLE students.stdid (id INT NOT NULL AUTO_INCREMENT, Roll INT NOT NULL,
        subject VARCHAR(45) NOT NULL, marks FLOAT NOT NULL, Total_marks DOUBLE NOT NULL,
        name VARCHAR(45) NULL DEFAULT NULL,per FLOAT NULL DEFAULT NULL,PRIMARY KEY (id),
        UNIQUE INDEX id_UNIQUE (id ASC) VISIBLE);"""
dev_con()
c.execute(stm)
dissove_con()

In [7]:
#defining functions to validate the marks,name and subjct name entered in the data
def validate_marks_obtained(marks_obtained, total_marks):
   
    return 0 <= marks_obtained <= total_marks

def val_subname(name):
    try:
        if name.isalpha():
            print("ok")
            flag=0
            messege=""
        else:
            flag=1
            raise Exception("Only letters are allowed in name")
    except:
        messege= sys.exc_info()[1]
        print(sys.exc_info()[1])
    return flag, messege

In [416]:
class Teacher():
# entry of the marks in the dataset
    def entry_of_data(self):
        roll_number=int(input("enter roll number "))
        subject=int(input("Enter number of subjects "))
        name=input('Enter student name : ')
        val_subname(name)
        stmt=""
        for i in range(subject):
            sub=input("enter subject name ")
            val_subname(sub)
            out_of=float(input("enter out of marks "))
            marks=float(input("enter marks obtained "))
            while not validate_marks_obtained(marks,out_of):
                print("Invalid marks obtained. Please enter a value between 0 and the total marks.")
                marks = float(input(f"Enter the marks obtained: "))
                out_of= float(input(f"Enter the total marks : "))

            per=(marks/out_of)*100

            stmt="insert into stdid(Roll,subject,Total_marks,marks,per,name)values"
            stmt=stmt+"({},'{}',{},{},{},'{}')".format(roll_number,sub,out_of,marks,per,name)
            print(stmt)

            dev_con()
            c.execute(stmt)
            dissove_con()

#Updating marks for specific roll number and subject
    def update(self):
        roll=input("enter roll number :")
        sub=input("enter subject :")
        marks=input("enter new marks :")
        dev_con()
        stmt="update stdid set marks={} where Roll= {} and subject='{}'".format(marks,roll,sub)
        c.execute(stmt)
        dissove_con()
        print("Updated successfully")
        
#Getting scores of particular student      
    def view_score(self):
        roll=input("enter roll number ")
        dev_con()
        stmt="Select subject,marks,Total_marks,per,name from stdid where Roll= {}".format(roll)
        c.execute(stmt)
        rec=c.fetchall()
        c.close()
        print("Data for {} is :".format(rec[0][4]))
        print("{:10s} {:^10} {:>5}".format('Subject','Marks','Out of'))
        p=[]
        for i in rec:
            print("{:10s}  {:7.2f}  {:^10}".format(i[0],i[1],i[2]))
            p.append(i[3])
        percentage=sum(p)/len(p)
        print("\nYou scored {:^5.2f} % in exams !!!".format(percentage))

# display the whole table 
    def view_all(self):
        dev_con()
        s="select * from stdid;"
        c.execute(s)
        r=c.fetchall()
        c.close()
        print("{:^5} {:^5} {:^10s} {:^10} {:10} {:^10} {:>10}".format('id','Roll','subject','marks','Total_marks','name','per'))
        for i in r:
            print("{:^5}{:^7}{:10s}{:10.2f}{:>10.2f}{:^20}{:^5.2f}".format(i[0],i[1],i[2],i[3],i[4],i[5],i[6]))

In [417]:
anil=Teacher()

In [245]:
anil.entry_of_data()

enter roll number 4
Enter number of subjects 2
Enter student name : Akshay
ok
enter subject name Marathi
ok
enter out of marks 100
enter marks obtained 80
insert into stdid(Roll,subject,Total_marks,marks,per,name)values(4,'Marathi',100.0,80.0,80.0,'Akshay')
enter subject name Hindi
ok
enter out of marks 100
enter marks obtained 75
insert into stdid(Roll,subject,Total_marks,marks,per,name)values(4,'Hindi',100.0,75.0,75.0,'Akshay')

In [246]:
anil.update()

enter roll number :4
enter subject :hindi
enter new marks :73
Updated successfully

In [247]:
anil.view_score()

enter roll number 4
Data for Akshay is :
Subject      Marks    Out of
Marathi       80.00    100.0
Hindi         73.00    100.0

You scored 77.50 % in exams !!!

In [418]:
anil.view_all()

 id   Roll   subject     marks    Total_marks    name           per
  1     1   math           75.00     80.00        raj         93.75
  2     1   physics        85.00    100.00        raj         85.00
  3     2   physics        45.00     50.00      shubham       90.00
  4     2   bio            48.00     50.00      shubham       96.00
  5     3   chemistry      75.00     80.00       suraj        93.75
  6     3   physics        69.00     80.00       suraj        86.25
  7     3   math           81.00    100.00       suraj        85.00
  8     4   Marathi        80.00    100.00       Akshay       80.00
  9     4   Hindi          73.00    100.00       Akshay       75.00

In [419]:
class student:
    def view(self):
        name=input("enter your name :")
        roll=input("Enter your roll number :")
        stmt="Select subject,marks,Total_marks,per,name from stdid where name='{}' and Roll={} ".format(name,roll)
        dev_con()
        c.execute(stmt)
        rc=c.fetchall()
        try:
            if len(rc)!=0:
                c.close()
                print("Login successfull !!!")
                print("\nData for {} is :".format(rc[0][4]))
                print("{:10s} {:^10} {:>5}".format('Subject','Marks','Out of'))
                p=[]
                for i in rc:
                    print("{:10s}  {:7.2f}  {:^10}".format(i[0],i[1],i[2]))
                    p.append(i[3])
                percentage=sum(p)/len(p)
                print("\nYou scored {:^5.2f} % in exams !!!".format(percentage))  
            else:
                raise Exception("Invalid login!! Name and roll number combination doesn't exist")
        except:
            print(sys.exc_info()[1])

In [420]:
user=student()

In [421]:
user.view()

enter your name :suraj
Enter your roll number :2
Invalid login!! Name and roll number combination doesn't exist

In [422]:
user.view()

enter your name :shubham
Enter your roll number :2
Login successfull !!!

Data for shubham is :
Subject      Marks    Out of
physics       45.00     50.0
bio           48.00     50.0

You scored 93.00 % in exams !!!