# Inferential Statistics         
                                                                           by-Nimase Shubham

In [2]:
import pandas as pd
import numpy as np
import scipy
import scipy.stats as stats
from statsmodels.stats import weightstats

In [3]:
df=pd.read_csv("bank.csv")

In [4]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [5]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

In [6]:
df.shape

(4521, 17)

In [7]:
np.random.seed(5)
r=np.random.randint(0,4521,40)
r

array([2915, 2254, 4079, 1725, 3046, 2121, 1032,  740, 1982, 2459, 2672,
       2718, 3792, 4300, 3185, 4071, 3152, 1068,  205, 3137, 3503, 2004,
       3709, 2194, 1278,  377,   41, 1921, 4199, 3216,  974, 2053, 3898,
       2000, 3182, 1715, 2587, 2847, 4420,  294])

In [8]:
df1=df.iloc[r,]
df1.shape

(40, 17)

In [9]:
df1.describe()

,age,balance,day,duration,campaign,pdays,previous
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,41.700000,976.375000,14.875000,265.450000,2.350000,47.825000,0.425000
std,10.125368,1712.740879,7.507902,240.060884,1.874936,108.439015,1.034966
min,20.000000,-932.000000,2.000000,12.000000,1.000000,-1.000000,0.000000
25%,36.750000,0.000000,8.500000,117.750000,1.000000,-1.000000,0.000000
50%,42.000000,471.000000,15.000000,181.500000,2.000000,-1.000000,0.000000
75%,47.000000,1015.500000,19.000000,360.250000,3.000000,-1.000000,0.000000
max,61.000000,6728.000000,30.000000,1225.000000,9.000000,374.000000,4.000000

In [10]:
df['balance'].mean()

1422.6578190665782

In [11]:
 weightstats.ztest(df1['balance'],value=1422)

(-1.6455378626160297, 0.09985894123756342)

In [12]:
if weightstats.ztest(df1['balance'],value=1422)[1]<0.05:
    print('reject NULL , sample mean and population mean are not same')
else:
    print('accept NULL , sample mean and population mean are same')

accept NULL , sample mean and population mean are same

In [13]:
stats.ttest_1samp(df1['balance'],1422)

Ttest_1sampResult(statistic=-1.6455378626160297, pvalue=0.10789596910699248)

In [14]:
test_statistics_val=stats.ttest_1samp(df1['balance'],1422)[0]
p_val=stats.ttest_1samp(df1['balance'],1422)[1]
test_critical_val=scipy.stats.t.ppf(q=1-.05,df=3)
test_critical_val,p_val

(2.3533634348018264, 0.10789596910699248)

In [15]:
if test_statistics_val>scipy.stats.t.ppf(q=0.025,df=3) and test_statistics_val<scipy.stats.t.ppf(q=1-0.025,df=3):
    print('accept NULL , sample mean and population mean are same')
else:
    print('reject NULL , sample mean and population mean are not same')

accept NULL , sample mean and population mean are same

### H0: Average balance of primary education =  Average balance of secondary education
### H1: Average balance of primary education !=  Average balance of secondary education

In [16]:
x1=df[df['education']=='primary']['balance']
x2=df[df['education']=='secondary']['balance']

In [17]:
var=weightstats.ztest(x1,x2)
print(var[0],var[1])
stats.ttest_ind(x1,x2)

1.7762783701327036 0.07568704651355282

Ttest_indResult(statistic=1.7762783701327036, pvalue=0.0757889865447728)

In [18]:
if var[1]<0.05:
    print('reject H0')
    print('Average balance of primary education is not same as Average balance of secondary education')
else:
    print('Accept H0')
    print('Average balance of primary education is same as Average balance of secondary education')

Accept H0
Average balance of primary education is same as Average balance of secondary education

### Anova test to compare job wise duration

In [19]:
from statsmodels.stats import oneway as oneway

In [120]:
j=0
for i in list(df['job'].unique()):
    j+=1
    name='a'+str(j)
    print(name)
    globals()[name]=df[df['job']==i]['duration']

a1
a2
a3
a4
a5
a6
a7
a8
a9
a10
a11
a12

In [121]:
stats.f_oneway(a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12)

F_onewayResult(statistic=1.7258910006923238, pvalue=0.06174565640401985)

In [125]:
if 0.06174565640401985<0.05:
    print('reject null, job wise duration is not same')
else:
    print('accept null, job wise duration is same')

accept null, job wise duration is same

In [123]:
print(oneway.anova_oneway((a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12)))

statistic = 1.7513718028754912
pvalue = 0.059081720010465764
df = (11.0, 640.1530702343249)
df_num = 11.0
df_denom = 640.1530702343249
nobs_t = 4521.0
n_groups = 12
means = [301.265625   262.48681055 260.53663571 278.16173362 264.12568306
 252.17838542 285.47619048 234.66945607 248.69047619 292.63392857
 285.65652174 216.92105263]
nobs = [128. 417. 969. 946. 183. 768. 168. 478.  84. 112. 230.  38.]
vars_ = [123325.5824311   67598.66869581  64778.60635272  70410.05741244
  77382.7038972   60582.72302633  98487.41260336  56109.37478838
  43301.66207688  77255.42334299  58812.30508829  40790.72332859]
use_var = unequal
welch_correction = True
tuple = (1.7513718028754912, 0.059081720010465764)

In [126]:
if 0.0590817200<0.05:
    print('reject null, job wise duration is not same')
else:
    print('accept null, job wise duration is same')

accept null, job wise duration is same

### compare balance of customer having housing as 'yes'  and column - loan as 'yes'

#### H0: balance of customer having housing as 'yes' and column - loan as 'yes' is equal
#### H1: balance of customer having housing as 'yes' and column - loan as 'yes' is not equal

In [130]:
m1=df[df['housing']=='yes']['balance']
m2=df[df['loan']=='yes']['balance']

In [131]:
weightstats.ztest(m1,m2)

(3.4187618970627045, 0.0006290674709707001)

In [132]:
if 0.0006290674<0.05:
    print('reject null')
else:
    print('accept null')

reject null

balance of customer having housing as 'yes' and column - loan as 'yes' is not equal